@model IEnumerable<BookApiProject.Dtos.ReviewerDto>
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Message</h2>
<div asp-validation-summary="ModelOnly" class="text-danger">

</div>
<div>
    <h2>List of Reviewers</h2>
    <br />
    @foreach (var item in Model)
    {
        <p>
            <strong>@item.FirstName @item.LastName</strong>
            <a asp-controller="Reviewers" asp-action="GetReviewerById" asp-route-reviewerId="@item.Id">| Details</a>
            <a asp-controller="Reviewers" asp-action="DeleteReviewery" asp-route-reviewerId="@item.Id">| Delete Country</a>
        </p>


    }
</div>
